<!-- Footer -->
<footer class="bg-f">
    <p class="text-center text-white tx ">Visite minhas redes socias:</p>
    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div>
  
        <!-- Grid column -->
        <div class="col-md-12">
          <div class="d-flex justify-content-center">
  
            <!-- GITHUB -->
            <a class="fs-16 p-3" href="https://github.com/AyresBarbara" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            <!-- LINKEDIN --> 
            <a class="fs-16 p-3" href="https://www.linkedin.com/in/b%C3%A1rbara-ayres-31903118b/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <!-- YOUTUBE +-->
            <a class=" fs-16 p-3" href="https://youtu.be/xCgwVuYZIC4" target="_blank">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>

          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center bg text-white py-3">© 2022 Copyright: La Braba Atelier 
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->